@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Dancing+Script);

.borde{
    border: 1px solid red;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}
.icon-bar{
    color:white !important;
    background-color:white !important;
}
.navbar{
    margin-bottom: 0px !important;
    border: none !important;
}
.contenedor-header{
    background-color:#611E6E;
}

.spacer {
    width: 100px;
    height: 2px;
    margin: auto;
    background: #A52998;
}
.contenido-item-somos{
    padding-top: 50px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.cont-item{
    padding: 0px !important;
    margin:0px !important;
}
.contenido-item-somos .group_elements{
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
}

.contenido-item-somos .group_elements img{   
    width: 300px !important;
    height: 200px !important;
    opacity: 0.8 !important;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.contenido-item-somos .thumbnail{
    padding: 0px !important;
    margin-bottom: 0px !important;
    background-color: none !important; 
    border: none !important;
}
.contenido-item-somos .group_elements img:hover{
  opacity: 1 !important;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s !important;
  transition: opacity 0.35s, transform 0.35s !important;
  transform: scale(1.5) !important;
}

.navbar .navbar-default{
    margin: 0px !important;
    padding: 0px !important;
}

.navbar li a{
    color: white !important;
    font-size: 14px;
}
.navbar li a:hover{
    background-color: #A52998 !important;
    color: white !important;

}
.navbar li a:active{
    background-color: #A52998 !important;
    color: white !important;
}
.dropdown.open a{
    background-color: #A52998 !important;
    color: white !important;
}
.logo{
    font-size: 50px;
    color: white !important;
}
.logo img{
    width: 300px;
}
.contenedor-menu{
    background-color: #46154F;
    border-bottom: 8px solid #A52998;
}
.social ul{
    position: relative;
    display: inline-block;
    padding: 0px;
    right:0px;
    float: right;
}


.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #272822;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px white;
    font-size: 20px;
    color: white;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #A52998;
    color: white;
    /*color: #18bc9c;*/
    background: #A52998;
}
.info{
    color: white;
    font-size: 20px;
}

.info p i{
    padding-right: 15px !important;
}

.datos .info{
    position: relative;
    display: inline-block;
    padding: 0px;
    right:0px;
    float: right;
}
.menu-principal li a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.menu{
    background-color: #A52998;
    border-color: #A52998 !important;
    font-size: 16px;
}
.menu li{
    background: transparent !important;
}

.menu li a{
    color: white !important;
}
.menu li a:hover{
    background: transparent !important;
    color: #272822 !important;
}

.logo_footer img{
    padding-top: 10px;
    width: 250px;
}

/* ----------- HOME ------------*/

.thumb_articulos{
    border: none;
}

.thumb_articulos h3{
    color: #A52998;
}
.thumb_articulos hr{
    border:2px solid #A52998;
}

.thumb_noticias h3{
    color: #A52998;
}
.thumb_noticias hr{
    border:2px solid #A52998;
}

.thumb_noticias img{
    width: 100%;
    height: 100%;
}

.thumb_noticias .caption{
    padding: 10px;
}

.contenedor-noticias{
    margin-top: 20px;
}


/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 80vh;
}
.fade-carousel .carousel-inner .item {
    height: 80vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: rgba(209,52,164,0.8);
    border-color: rgba(209,52,164,0.8);
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.hero h1{
    background-color: rgba(209,52,164,0.8);
}
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 80vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/slide-home-rehavita1.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/slide-home-rehavita2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/slide-home-rehavita3.jpg);
}

.frase-home{
    background: linear-gradient(to right, rgba(209, 52, 164, 0.9),  rgba(209, 52, 164, 0.9)), url(../img/cubos.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.frase-home h1{
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    color: white;
    font-size: 50px;
}

.frase-home ul{
    padding: 0px;
}
.frase-home ul{
    position: relative;
    display: inline-block;
    padding: 0px;
    right:0px;

}
.frase-home h2{
    color: white;
    font-size: 4em;    
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}
.frase-home h2 span{
    margin-left: 20px;
}

.frase-home .btn-social {
    vertical-align: middle;
    text-align: center;
    width: 80px;
    height: 80px;
    border: 2px solid #272822;
    border-radius: 100%;
    text-align: center;
    font-size: 25px;
    line-height: 55px;
}
.frase-home .btn-social i{
    margin-top: 8px;
    text-align: center;
    vertical-align: middle;
}
.frase-home .btn:focus,
.frase-home .btn:active,
.frase-home .btn.active {
    outline: 0;
}

.frase-home .btn-outline {
    margin-top: 0 !important;
    border: solid 4px white;
    color: white;
    transition: all .3s ease-in-out;
}

.frase-home .btn-outline:hover,
.frase-home .btn-outline:focus,
.frase-home .btn-outline:active,
.frase-home .btn-outline.active {
    border: solid 4px white !important;
    color: white;
    background: inherit !important;
}

.frase-reha{
    background: linear-gradient(to right, rgba(209, 52, 164, 0.9),  rgba(209, 52, 164, 0.9)), url(../img/cubos.jpg);
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.frase-reha h2{
    font-family: 'Dancing Script', cursive;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    color: white;
}

.titulo_contacto{
    position:relative;
    background: url(../img/telefono-contacto.png) no-repeat 50% 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    height: 250px;
}

.titulo_contacto h1,.titulo_convenio h1,.titulo_galeria h1, .titulo_equipo h1, .titulo_somos h1,.titulo_preguntas h1,.titulo_calidad h1,.titulo_reha h1{
    color: white;
}

.titulo_preguntas{
    position:relative;
    background: url(../img/preguntas.jpg) no-repeat 50% 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    height: 250px;
}

.titulo_convenio{
    position:relative;
    background: url(../img/convenio3.jpg) no-repeat 50% 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    height: 250px;
}
.titulo_calidad{
    position:relative;
    background: url(../img/adulto.jpg) no-repeat 50% 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    height: 250px;
}
.titulo_reha{
    position:relative;
    background: url(../img/rehabilitacion.jpg) no-repeat 50% 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    height: 250px;
}

.titulo_equipo{
    position:relative;
    background: url(../img/mfisica.jpg) no-repeat 50% 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    height: 250px;
}

.titulo_somos{
    position:relative;
    background: url(../img/nosotros.jpg) no-repeat 50% 0 fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    height: 250px;
}

.contenedor_titulo{
    position: relative;
    height: 250px;
}
.titulo{ 
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.titulo h1{
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    font-size: 5em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: rgba(209,52,164,0.8);
   /* background-color: rgba(70,21,79,0.8);*/
}

.angular-google-map-container { height: 400px; }


footer{
    background-color: #A3A3A3;
}

.contenedor-footer{
    padding-bottom: 20px;
}

.vinculos_footer{
    padding-top: 10px;
    padding-bottom: 10px;
}

.vinculos_footer a{
    letter-spacing: 2px;
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: #272822;
    text-decoration: none;
}

.vinculos_footer a:hover{
    color: white;
}

.vinculos_footer a i{
    padding-right: 10px;
    color: #272822;
    font-size: 12px;
}
.vinculos_footer a:hover i{
    color: white;
    font-size: 12px;
}

.social_titulo_footer h3{
    padding: 0px;
}

.info_footer{
    padding-bottom: 20px;
}
.info_footer i{
    padding-right: 10px;
}
.social_footer ul{
    position: relative;
    display: inline-block;
    padding: 0px;
    right:0px;
}
.btn-social-footer {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #272822;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline-footer {
    margin-top: 15px;
    border: solid 2px #272822;
    font-size: 20px;
    color: #272822;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline-footer:hover,
.btn-outline-footer:focus,
.btn-outline-footer:active,
.btn-outline-footer.active {
    border: solid 2px #A52998;
    color: white;
    /*color: #18bc9c;*/
    background: #A52998;
}
.copyright{
    background-color: #46154F; 
    color:white;
}


/*----------------- HOME --------------*/
.contenido_principal{
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-pagina{
    background-color: #A52998 !important;
    color: white !important;
    border-color: #A52998 !important;
}
.btn-pagina:hover{
    background-color: transparent !important;
    color: #A52998 !important;
    border-color: #A52998 !important;

}

.hm{
    width: 80px;
    height: 80px;
}
/*----------------- HOME --------------*/

/* -------------- CONTACTO ------------- */
.mapas{
    padding: 0px;
    margin: 0px;
}

.contacto-item{
    padding-bottom: 20px;
    font-size: 14px;
    color: #A52998;
}
.contacto-item h2{

    letter-spacing: 1px !important;
}

.contacto-item p{
    word-wrap: break-word;
    color: #272822;
}
.icon{
    position: relative;
    margin: auto;
    border-radius: 50%;
    text-align: center;
    width: 70px;
    height: 70px;
    padding: 10px !important;
    border: 1px solid #A52998;
}
.icon i{
    position: relative;
    margin: 10px;
}

.info-contacto{

    width: 70%;
}

.form-control{
    padding: 15px 12px !important;
    height: 40px;
    border-color: #FC03E3 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.form-contacto{
    padding-top: 10px;
}
.contacto-items{
    padding-top: 10px;
}
.cont-btn-enviar{
    text-align:left;
}
.btn-enviar:hover{
    background-color: transparent !important;
    color: #A52998 !important;
    border-color: #A52998 !important;
}

.btn-enviar{
    background-color: #A52998 !important;
    color: white !important;
    border-color: #A52998 !important;
}

/* -------------- FIN | CONTACTO ------------- */

/*----------------- CONVENIOS ----------------*/
.conv img{
    width: 200px;
    height: 200px;
}

.vista {
    width: 300px;
    height: 200px;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.vista .mascara, .vista .contenido {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.vista img {
    display: block;
    position: relative;
}
.vista h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: hsla(0,0%,0%,0.8);
    margin: 20px 0 0 0;
}
.vista p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.vista a.informacion {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}
.vista a.informacion:hover {
    box-shadow: 0 0 5px #000
}
.vista:hover img{ 
    transform: scale(1.1);
} 

.vista:hover .mascara { 
    opacity: 1;
}
.vista:hover h2,
.vista:hover p,
.vista:hover a.informacion {
    opacity: 1;
    transform: translateY(0px);
}
.vista:hover p {
    transition-delay: 0.1s;
}
.vista:hover a.informacion {
    transition-delay: 0.2s;
}

.vista img {
    transition: all 0.2s ease-in;
}
.vista .mascara {
    opacity: 0;
    background-color: hsla(0,0%,0%,0.6);
    transition: all 0.2s 0.4s ease-in-out;
    transform: translate(460px, -100px) rotate(180deg);
}
.vista h2 {
    transform: translateY(-100px);
    transition: all 0.2s ease-in-out;
}
.vista p { 
    transform: translateX(300px) rotate(90deg);
    transition: all 0.2s ease-in-out;
}
.vista a.informacion{
    transform: translateY(-200px);
    transition: all 0.2s 0.1s ease-in-out;
}.vista:hover .mascara { 
    opacity: 1;
    transform: translate(0px, 0px);
    transition-delay: 0s;
}
.vista:hover h2 { 
    transform: translateY(0px); 
    transition-delay: 0.5s;
}
.vista:hover p {
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.vista:hover a.informacion {
    transform: translateY(0px);
    transition-delay: 0.3s;
}

/*----------------- CONVENIOS ----------------*/

/*----------------- GALERIA ----------------*/

.contenedor_galeria{
    padding-top: 20px;
}

.titulo_galeria{
    position:relative;
    background: linear-gradient(to right, rgba(209, 52, 164, 0.9),  rgba(209, 52, 164, 0.9)), url(../img/cubos.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;

    height: 250px;
}

.contenedor_preguntas{padding-top: 20px; padding-bottom: 20px;}

.grouped_elements{
    width: 280px;
    height: 220px;
    overflow: hidden;
}

.grouped_elements img{
    width: 280px;
    height: 210px;
}


/* -------------- SOMOS ------------- */
.contenido_somos{
    background: linear-gradient(to right, rgba(209, 52, 164, 0.9),  rgba(209, 52, 164, 0.9)), url(../img/cubos.jpg);

}
.nav-tabs{
    margin: 0 !important;
    padding: 0 !important;
}
.contenedor-tabs{
    font-size: 16px;
    margin-bottom: 30px !important;
}
.info-somos{
   
}
.tab-content{
    background: white;
}
.contenido-item-somos-bis{
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width:70%;
}
.equipo-stilo{
  margin-bottom: 10px !important;    
}

.equipo-stilo .item-equipo-prof{
    border: 1px solid #A52998 !important;
    padding: 0px !important;
}
.equipo-stilo .item-equipo-prof img{
    width:100%;
    height:auto;
}
.slider-equipo{
    margin-top: 10px;
}

.slider-equipo .carousel-inner {
  height: 400px !important;  
}
.slider-equipo .carousel-indicators{
    display: none;
}

.cita{
    background: white;
    position: fixed;
    top:-80px;
    right: 35%;
}
.activo.cita{
    top:0px;
}
.info-cita{
    padding: 10px;
    text-align: center;
}
.cita a{
    color:white;
    background: #A52998;
    width: 100%;
    border-radius: 0;
    box-shadow: none !important;
}
.cita a:hover{
    border-color: #A52998;
    background: #272822;
    color: #A52998;
}
.cita a:focus{
    box-shadow: none !important;
}



.group_elements{
    width: 350px !important;
    height: 240px !important;
    overflow: hidden;
}

.group_elements img{
    width: 350px !important;
    height: 240px !important;
}

/* ----- MEDICINA FISICA ----- */

.frase-mfisica{
    background: linear-gradient(to right, rgba(209, 52, 164, 0.9),  rgba(209, 52, 164, 0.9)), url(../img/cubos.jpg);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.frase-mfisica h2{

    font-family: 'Dancing Script', cursive;
    color: white;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}
.contenedor_equipamiento{
    padding-top: 20px;
}
.contenedor_equipamiento h2{
    color: #A52998;
}
.contenedor_equipamiento hr{
    border-color: #A52998;
}
.contendor-img-thumbnail{
    height: 230px;
}

.equipos .thumbnail{
    border-color: #A52998;
}

.equipos img{
   width: 100%;
   height: 100%;
}

.contenedor-porq{
    margin-top: 25px;
}
.porq h2{
    color: #A52998;
    font-size: 4em;    
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
}

.porq{

}
.porq-desc{
    padding-bottom: 20px;
}
.contenedor-desc-porq{
    padding-bottom: 20px;
}

.contenedor-desc-porq h3{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2;
}

.preg{
    padding-top: 10px;
    padding-bottom: 10px;
}
.media-object{
    width: 150px;
}



/*---------- TABS SOMOS -------------*/
.board{
    width: 100%;
    background: transparent;
}
.board-inner .nav-tabs {

    margin: 40px auto;
    margin-bottom: 0;

    text-align:center;
}

.board > div.board-inner{
    background: transparent;
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.board-inner .nav-tabs > li.active > a, .board-inner .nav-tabs > li.active > a:hover, .board-inner .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: transparent;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    /*background: white;*/
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: white;
    border: 2px solid white;
}

.board-inner .nav-tabs li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #A52998;
    color: #A52998;
}

span.round-tabs.two{
    color: white;
    border: 2px solid white;
}

.board-inner .nav-tabs li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #A52998;
    color: #A52998;
}

span.round-tabs.three{
    color: white;
    border: 2px solid white;
}

.board-inner .nav-tabs li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #A52998;
    color: #A52998;
}

.board-inner .nav-tabs > li.active > a span.round-tabs{
    background: transparent;
}
.board-inner .nav-tabs > li {
    width: 20%;
    float:none;
    display:inline-block;
}
.board-inner .nav-tabs > li:focus,.board-inner .nav-tabs > li:active,.board-inner .nav-tabs > li >a:hover {
    outline: none;
    border: none;
}
.board-inner .nav-tabs li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: white;
    transition:0.1s ease-in-out;
    
}
.board-inner .nav-tabs li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: white;
    
}
.board-inner .nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.board-inner .nav-tabs > li a:hover{
    background: transparent;
    outline: none;
}

.board .tab-content{
    position: relative;
    display: block;
}
.board .tab-pane{

    padding-top: 50px;
}
.board .tab-content .head{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#A52998;
    color: #A52998;
}

.nav-tabs {
    border-bottom: 1px solid transparent !important;
}

.flexslider-container {
	width: 50% !important;
	margin: 10px auto;
}

/* -- REAHABILITACION - CALIDAD -- */

.contenedor_reha{
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor_reha hr{
    border-color: rgba(209,52,164,0.8);
    padding-bottom: 0px;
}

.contenedor_reha h2{
    color: #A52998;
}

.contenedor-trat{
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid rgba(209,52,164,0.8);
}

.titulo-trat-reha{
    padding-top: 10px;
}

.titulo-trat-reha h2{
    padding-bottom: 10px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    color: rgba(209,52,164,0.8);
}

.contenedor-trat ul {
        background: rgba(209,52,164,0.8);
        list-style: none;
        margin: 0px;
        
        padding-left: 30px;
        padding-right: 30px;
    }

        .contenedor-trat ul li {
            padding-top: 10px;
            padding-bottom: 10px;
            cursor: pointer;
            color: white;
        }

            .contenedor-trat ul li i {        
                margin-right: 40px;
            }
            .contenedor-trat ul li span{
                
            }
            
.error {
  border-color: red;
}
 
.warning {
  border-color: yellow;
}

.g1{
    position:relative;
}
.g1:hover div.caption{
    display:block;
    transform:;
}

img.lazyOwl {
  width: 100%;
}

/* ---------------------------*/
/* ---------------------------*/
/* ------- RESPONSIVE --------*/
/* ---------------------------*/
/* ---------------------------*/

@media screen and (min-width: 1200px) {
    .fade-carousel .slides .slide-1, 
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
      height: 80vh;
    }
    .hero { width: 980px; }
    .titulo { width: 980px; }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .fade-carousel .slides .slide-1, 
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
      height: 80vh;
    }
    .hero { width: 880px; }
    .titulo { width: 880px; }
  
    .contenido-item-somos-bis{
        width:80%;
    }
    .equipo-stilo{
      margin-bottom: 10px !important;    
    }
    .equipo-stilo .item-equipo-prof img{
        width:100%;
        height:auto;
    }
    .equipo-stilo .item-equipo-prof h3{
        font-size:20px !important;
    }
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .hero { width: 780px; }
    .titulo { width: 780px; }
    .fade-carousel {
        height: 60vh;
    }
    .fade-carousel .carousel-inner .item {
        height: 60vh;
    }
    .hero h1 { font-size: 6em; }
    .titulo h1 { font-size: 6em !important; } 
    .titulo_contacto h1,.titulo_convenio h1,.titulo_galeria h1, .titulo_equipo h1, .titulo_somos h1,.titulo_preguntas h1,.titulo_calidad h1,.titulo_reha h1{
        font-size: 6em !important; 
    }
    .fade-carousel .slides .slide-1, 
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
      height: 60vh;
    }

    .frase-home h2{
        font-size: 3em;    
    }
    .frase-home h2 span{
        margin-left: 20px;
    }

    .frase-home .btn-social {
        vertical-align: middle;
        text-align: center;
        width: 80px;
        height: 80px;
        border: 2px solid #272822;
        border-radius: 100%;
        text-align: center;
        font-size: 25px;
        line-height: 55px;
    }
    .frase-home .btn-social i{
        margin-top: 8px;
        text-align: center;
        vertical-align: middle;
    }
    .frase-home .btn:focus,
    .frase-home .btn:active,
    .frase-home .btn.active {
        outline: 0;
    }

    .frase-home .btn-outline {
        margin-top: 0 !important;
        border: solid 4px white;
        color: white;
        transition: all .3s ease-in-out;
    }

    .frase-home .btn-outline:hover,
    .frase-home .btn-outline:focus,
    .frase-home .btn-outline:active,
    .frase-home .btn-outline.active {
        border: solid 4px white !important;
        color: white;
        background: inherit !important;
    }

    .contenido_principal{
        width:90% !important;
    }

    .contenedor-porq{
        margin-top: 25px;
    }
    .porq h2{
        font-size: 3em;    
    }

    .contenedor-desc-porq h3{
        margin-top: 10px !important;
        font-size: 23px;
    }
    
    .contenido-item-somos-bis{
        width:80%;
    }
    .equipo-stilo{
      margin-bottom: 10px !important;    
    }
    .equipo-stilo .item-equipo-prof img{
        width:100%;
        height:auto;
    }
    .equipo-stilo .item-equipo-prof h3{
        font-size:20px !important;
    }
    
} 

@media screen and (min-width: 641px) and (max-width: 767px){
    .btn-colapse{
        color:white !important;
    }
    .btn-colapse:hover,
    .btn-colapse:focus,
    .btn-colapse:active,
    .btn-colapse.active { 
        transition: all .3s ease-in-out; 
        border-color: #A52998 !important;     
        color: white !important;
        background: #A52998 !important;
    }
    .contenido_principal{
        width:80% !important;
    }
    .titulo { width: 580px; }
    .navbar li a:hover{
        background-color: transparent !important;
        color: #A52998 !important;

    }
    .navbar li a:active{
        background-color: transparent !important;
        color: #A52998 !important;
        
    }

    .dropdown.open li a{
        background-color: transparent !important;
        color: white !important;
        
    }
    .dropdown.open li a:hover{
        background-color: transparent !important;
        color: #A52998 !important;
        text-decoration: underline;
    }

    .contenido-item-somos-bis{
        width:70%;
    }
    .equipo-stilo{
      margin-bottom: 10px !important;    
    }
    .equipo-stilo .item-equipo-prof img{
        width:100%;
        height:auto;
    }
    .equipo-stilo .item-equipo-prof h3{
        font-size:20px;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px){
    .board {
        width: 90%;
        height:auto !important;
    }
    span.round-tabs {
        font-size:16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .board .tab-content .head{
        font-size:20px;
    }
    .board .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height:50px;
    }

    .board li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    .titulo { width: 380px; }
    .hero h1 { font-size: 4em; }    
    .titulo h1 { font-size: 4em !important; }
    .titulo_contacto h1,.titulo_convenio h1,.titulo_galeria h1, .titulo_equipo h1, .titulo_somos h1,.titulo_preguntas h1,.titulo_calidad h1,.titulo_reha h1{
        font-size: 4em !important; 
    }
    .info p{
        text-align:center !important;
    }
    .datos .info{
        width:100%;
        float: none;
        margin: 0 auto;
        text-align:center;
    }
    .btn-colapse{
        color:white !important;
    }
    .navbar-brand{
        float:none;
        padding:0px;
    }
    .btn-colapse:hover,
    .btn-colapse:focus,
    .btn-colapse:active,
    .btn-colapse.active { 
        transition: all .3s ease-in-out; 
        border-color: #A52998 !important;     
        color: white;
        background: #A52998 !important;
    }
    .btn-outline {
        margin-top: 0px;
    }
    .logo img{
        display: inline-block;
        margin-top:10px;
        margin-bottom:10px;
    }
    .social{
        text-align: center;
        position:relative;
        margin:0 auto;
    }
    .social ul{
        position: relative;
        display: inline-block;
        padding: 0px;
        margin:0 auto;
        float: none;
    }
    .navbar li a:hover{
        background-color: transparent !important;
        color: #A52998 !important;
    }
    .navbar li a:active{
        background-color: transparent !important;
        color: #A52998 !important;
        
    }
    .dropdown.open li a{
        background-color: transparent !important;
        color: white !important;      
    }
    .dropdown.open li a:hover{
        background-color: transparent !important;
        color: #A52998 !important;
        text-decoration: underline;
    }
    .contenido-item-somos-bis{
        width:50%;
    }
    .equipo-stilo{
      margin-bottom: 10px !important;    
    }
    .equipo-stilo .item-equipo-prof img{
        width:100%;
        height:auto;
    }
    .equipo-stilo .item-equipo-prof h3{
        font-size:20px;
    }
}

@media screen and (max-width: 480px) {
    .info p{
        text-align:center !important;
    }
    .datos .info{
        width:100%;
        float: none;
        margin: 0 auto;
        text-align:center;
    }
    .btn-colapse{
        color:white;

    }
    .navbar-brand{
        float:none;
        padding:0px;
    }

    .btn-colapse:hover,
    .btn-colapse:focus,
    .btn-colapse:active,
    .btn-colapse.active { 
        transition: all .3s ease-in-out; 
        border-color: #A52998 !important;     
        color: white;
        background: #A52998 !important;
    }
    .btn-outline {
        margin-top: 0px;
    }
    .logo img{
        width:250px;
        display: inline-block;
        margin-top:10px;
        margin-bottom:10px;
    }
    .social{
        text-align: center;
        position:relative;
        margin:0 auto;
    }
    .social ul{
        position: relative;
        display: inline-block;
        padding: 0px;
        margin:0 auto;
        float: none;
    }
    .fade-carousel {
        height: 40vh;
    }
    .fade-carousel .carousel-inner .item {
        height: 40vh;
    }
    .titulo { width: 280px; }
    .hero h1 { font-size: 3em ; }
    .titulo_contacto h1,.titulo_convenio h1,.titulo_galeria h1, .titulo_equipo h1, .titulo_somos h1,.titulo_preguntas h1,.titulo_calidad h1,.titulo_reha h1{
        font-size: 3em !important; 
    }
    .fade-carousel .slides .slide-1, 
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3 {
      height: 60vh;
    }
    .porq h2{
        font-size: 2em;    
    }
    .contenedor-desc-porq h3{
        margin-top: 5px !important;
        font-size: 20px;
    }

    .items-footer-info h4{
        font-size:15px;
    }
    .copyright h5{
        font-size:15px;
    }
    .navbar li a:hover{
        background-color: transparent !important;
        color: #A52998 !important;

    }
    .navbar li a:active{
        background-color: transparent !important;
        color: #A52998 !important;
        
    }
    .dropdown.open li a{
        background-color: transparent !important;
        color: white !important;
        
    }
    .dropdown.open li a:hover{
        background-color: transparent !important;
        color: #A52998 !important;
        text-decoration: underline;
    }
    .cont-btn-enviar{
        text-align:center;
    }
    .media-body h2{
        font-size:20px;
        font-weight:bold;
    }
    .contenedor_galeria{
        padding-top: 0px;
    }

    .grouped_elements{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .grouped_elements img{
        width: 100%;
        height: 100%;
    }

    .contenido-item-somos-bis{
        width:70%;
    }
    .equipo-stilo{
      margin-bottom: 10px !important;    
    }
    .equipo-stilo .item-equipo-prof img{
        width:100%;
        height:auto;
    }
    .equipo-stilo .item-equipo-prof h3{
        font-size:20px;
    }
}
