<section class="titulo_contacto" data-speed="2" data-type="background">
    <div class="container contenedor_titulo">
        <div class="titulo">
            <h1>CONTACTO</h1>
        </div>
    </div>
</section>

<section class="ubicacion_contacto">
    
      <div class="col-md-12 mapas" id="map_canvas" ng-controller="mainCtrl">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="false" options="options" >
          <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id" icon="marker.icon">
          </ui-gmap-marker>
        </ui-gmap-google-map>

      </div>
    
</section>

<section class="contenido_contacto" data-speed="12" data-type="background">
  <div class="container info-contacto">
      <br>
      <div class="row">
        <div class="col-md-6" ng-controller="mainCtrl">

            <form class="form-horizontal form-contacto" ng-submit="submitForm(formContacto)" name="formContacto" method="post" action="">
              <p>A través de nuestro correo o con sólo marcar el teléfono <b>24039392</b> estaremos encantados de darles a conocer todos nuestros tratamientos y servicios complementarios.</p>
              <p>Requeridos *</p>

              <!--{{formData}}-->
              <p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
              <!-- Name input-->
              <div class="form-group">
                <label class="control-label" for="name">Nombre*</label>               
                <input id="nombre" name="nombre" type="text" placeholder="Nombre..." class="form-control" ng-model="formData.nombre" required>
                <span ng-show="formContacto.nombre.$error.required">Nombre es requerido.</span>
              </div>
      
              <!-- Email input-->
              <div class="form-group">
                <label class="control-label" for="email">E-mail*</label>
                <input id="email" name="email" type="email" placeholder="example@email.com" class="form-control" ng-model="formData.email" required ng-class="{ 'error': !formContacto.email.$error.required && submitted, 'warning': !formContacto.email.$error.email }">
                <span ng-show="formContacto.email.$error.required">Email es requerido.</span>
              </div>

              <!-- Name input-->
              <div class="form-group">
                <label class="control-label" for="subject">Asunto*</label>               
                <input id="subject" name="subject" type="text" placeholder="Asunto..." class="form-control" ng-model="formData.subject" required>
                <span ng-show="formContacto.subject.$error.required">Asunto es requerido.</span>
              </div>

              <!-- Message body -->
              <div class="form-group">
                <label class="control-label" for="message">Mensaje*</label>
                <textarea class="form-control" id="mensaje" name="mensaje" placeholder="Mensaje..." rows="5" ng-model="formData.mensaje" required></textarea>
                <span ng-show="formContacto.mensaje.$error.required">Mensaje es requerido.</span>
              </div>
      
              <!-- Form actions -->
              <div class="form-group">
                <div class="cont-btn-enviar">
                  <button type="submit" class="btn btn-primary btn-lg btn-enviar" ng-disabled="!formContacto.$valid">Enviar</button> 
                </div>
              </div>

            </form>

        </div>
        <div class="col-md-6 col-lg-6 contacto-items">
            <div class="col-sm-4 col-md-12 col-lg-12 contacto-item text-center">
                <div class="icon">
                    <i class="fa fa-phone fa-2x"></i>
                </div>
                <h2>Contacto</h2>
                <p>(+598) 2403 9392</p>		
           </div>
           <div class="col-sm-4 col-md-12 col-lg-12 contacto-item text-center">
                <div class="icon">
                    <i class="fa fa-envelope fa-2x"></i>
                </div>
                <h2>Email</h2>
                <p>administracion@rehavita.com.uy</p>		
           </div>
           <div class="col-sm-4 col-md-12 col-lg-12 contacto-item text-center">
                <div class="icon">
                    <i class="fa fa-map-marker  fa-2x"></i>
                </div>
                <h2>Localización</h2>
                <p>Juan Antonio Rodriguez 1464-1468 apto 603<br>Montevideo - Uruguay</p>		
           </div>
        </div>
     </div>
  </div>
</section>