<section class="titulo_convenio" data-speed="2" data-type="background">
    <div class="container contenedor_titulo">
        <div class="titulo">
            <h1>CONVENIOS</h1>
        </div>       
    </div>
</section>

<section class="contenido_convenio" data-speed="12" data-type="background">
  <div class="container info-convenio">
    <div class="container contenido_principal">
        
        <div class="row">
          <div class="col-md-12">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail conv vista">
              <img src="img/convenios/atenas2.png" alt="...">
              <div class="mascara">  
                  <h2>Título</h2>  
                  <p>Texto</p>  
                  <a href="#" class="informacion">Leer Más</a>  
              </div> 
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail conv vista">
              <img src="img/convenios/blue.png" alt="...">
              <div class="mascara">  
                  <h2>Título</h2>  
                  <p>Texto</p>  
                  <a href="#" class="informacion">Leer Más</a>  
              </div> 
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail conv vista">
              <img src="img/convenios/summum.jpg" alt="...">
              <div class="mascara">  
                  <h2>Título</h2>  
                  <p>Texto</p>  
                  <a href="#" class="informacion">Leer Más</a>  
              </div> 
            </div>
          </div>
          </div>
          <div class="col-md-12">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail conv vista">
              <img src="img/convenios/defensor.png" alt="...">
              <div class="mascara">  
                  <h2>Título</h2>  
                  <p>Texto</p>  
                  <a href="#" class="informacion">Leer Más</a>  
              </div> 
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail conv vista">
              <img src="img/convenios/cosem2.png" alt="...">
              <div class="mascara"></div>
                <div class="contenido">
                    <h2>Título</h2>  
                    <p>Texto</p>  
                    <a href="#" class="informacion">Leer Más</a>    
                </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail conv vista">
              <img src="img/convenios/pulso2.jpg" alt="...">
              <div class="mascara"></div>
                <div class="contenido">
                    <h2>Título</h2>  
                    <p>Texto</p>  
                    <a href="#" class="informacion">Leer Más</a>    
                </div>
            </div>
          </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><h3>Convenios actuales</h3></div>

          <ul class="list-group">
            <li class="list-group-item"><strong>Pulso (10%)</strong></li>
            <li class="list-group-item"><strong>Defensor Sporting - Socios (25%)</strong></li>
            <li class="list-group-item"><strong>Asociación de funcionarios de Seem (10%)</strong></li>
          </ul>
        </div>

      </div>

  </div>
</section>