<section class="titulo_convenio" data-speed="2" data-type="background">
    <div class="container contenedor_titulo">
        <div class="titulo">
            <h1>CONVENIOS</h1>
        </div>       
    </div>
</section>

<section class="contenido_convenio" data-speed="12" data-type="background" ng-controller="mainCtrl">
  <div class="container info-convenio">
    <div class="container contenido_principal">
        
        <div class="row">
          <div class="col-md-12">
          <div class="col-sm-6 col-md-4" ng-repeat="servicio in servicios">
            <div class="thumbnail conv vista wow zoomIn" data-wow-duration="0.7s" data-wow-delay="{{servicio.segundo}}">
              <img ng-src="{{servicio.img}}" alt="...">
              <div class="mascara">  
                  <h2>{{servicio.titulo}}</h2>  
                  <p>{{servicio.descripcion}}</p>  
                  <a href="{{servicio.link}}" class="informacion">Ver Más</a>  
              </div> 
            </div>
          </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading"><h3>Convenios actuales</h3></div>

          <ul class="list-group">
            <li class="list-group-item" ng-repeat="convenio in convenios"><strong>{{convenio.titulo}}</strong></li>
          </ul>
        </div>

      </div>

  </div>
</section>