<section class="titulo_equipo" data-speed="2" data-type="background">
    <div class="container contenedor-titulo">
    	<div class="titulo">
    		<h1>GALERIA</h1>
    	</div>
    </div>
</section>
<div class="container contenedor_galeria" ng-controller="mainCtrl">
	<div class='col-sm-4 col-xs-6 col-md-3 col-lg-3' ng-repeat="imagen in imgenesGaleria">
		<a class="thumbnail grouped_elements" rel="group1" href="{{imagen.ruta}}">
			<img class="img-responsive" ng-src="{{imagen.ruta}}" alt="{{imagen.titulo}}"/>
		</a>
	</div>
</div>