         <!-- SLIFER -->
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
          <!-- Overlay -->
          <!--<div class="overlay"></div>-->

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
          </ol>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <div class="hero">
                <hgroup>
                    <h1>Rehabilitaci&oacute;n</h1>        
                    <h3>Frase de prueba img1</h3>
                </hgroup>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-2"></div>
              <div class="hero">        
                <hgroup>
                    <h1>Fisioterapia</h1>        
                    <h3>Frase de prueba img 2</h3>
                </hgroup>       
              </div>
            </div>
            <div class="item slides">
              <div class="slide-3"></div>
              <div class="hero">        
                <hgroup>
                    <h1>Calidad de vida</h1>        
                    <h3>Frase de prueba img 3</h3>
                </hgroup>
              </div>
            </div>
          </div> 
        </div>

        <section class="principal">
          <div class="container contenido_principal">
            <div class="row">
              <div class="col-sm-6 col-md-4 wow bounceInLeft" data-wow-duration="1s" data-wow-delay="0s">
                <div class="thumbnail">
                  <img src="img/home/fisio.jpg" alt="...">
                  <div class="caption">
                    <h3>Rehabilitaci&oacute;n</h3>
                    <p></p>
                    <p><a href="#" class="btn btn-pagina btn-lg" role="button">Más información</a></p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                <div class="thumbnail">
                  <img src="img/home/deportiva.jpg" alt="...">
                  <div class="caption">
                    <h3>Medicina Fisica</h3>
                    <p></p>
                    <p><a href="#" class="btn btn-pagina btn-lg" role="button">Más información</a></p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4 wow bounceInRight" data-wow-duration="1s" data-wow-delay="1s">
                <div class="thumbnail">
                  <img src="img/home/vendaje.jpg" alt="...">
                  <div class="caption">
                    <h3>Calidad de vida</h3>
                    <p></p>
                    <p><a href="#" class="btn btn-pagina btn-lg" role="button">Más información</a></p>
                  </div>
                </div>
              </div>
        <!--  <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                  <img src="img/home/osteopatia.jpg" alt="...">
                  <div class="caption">
                    <h3>Osteopatía</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-pagina btn-lg" role="button">Más información</a></p>
                  </div>
                </div>
              </div> -->


            </div>
          </div>
          <div class="container">
<!--             <div class="col-md-12 text-center">
              <h3>Brindamos servicios a las siguientes instituciones:</h3>
            </div>
            <div class="col-md-12">
                <div class=" col-md-3">
                  <div class="thumbnail hm center-block">
                    <img src="img/convenios/atenas2.png" alt="..." data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                  </div>
                </div>
                <div class=" col-md-2">
                  <div class="thumbnail hm center-block">
                    <img src="img/convenios/blue.png" alt="..." data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                  </div>
                </div>
                <div class=" col-md-2">
                  <div class="thumbnail hm center-block">
                    <img src="img/convenios/cosem2.png" alt="..." data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                  </div>
                </div>
                <div class=" col-md-2">
                  <div class="thumbnail hm center-block">
                    <img src="img/convenios/defensor.png" alt="..." data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                  </div>
                </div>
                <div class=" col-md-3">
                  <div class="thumbnail hm center-block">
                    <img src="img/convenios/summum.jpg" alt="..." data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                  </div>
                </div>
            </div> -->

          </div>
        </section>
