         <!-- SLIFER -->
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
          <!-- Overlay -->
          <!--<div class="overlay"></div>-->

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
          </ol>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <div class="hero">
                <hgroup>
                    <h1>Rehabilitaci&oacute;n</h1>        
                    <h3>Frase de prueba img1</h3>
                </hgroup>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-2"></div>
              <div class="hero">        
                <hgroup>
                    <h1>Fisioterapia</h1>        
                    <h3>Arte y Ciencia del tratamiento físico</h3>
                </hgroup>       
              </div>
            </div>
            <div class="item slides">
              <div class="slide-3"></div>
              <div class="hero">        
                <hgroup>
                    <h1>Calidad de vida</h1>        
                    <h3>Mejora tu calidad de vida</h3>
                </hgroup>
              </div>
            </div>
          </div> 
        </div>

        <section class="principal" ng-controller="mainCtrl">
          <div class="container contenido_principal">
            <div class="row">
              <div ng-repeat="articulo in homearticulos" class="{{articulo.class}}" data-wow-duration="{{articulo.anim_duration}}" data-wow-delay="{{articulo.anim_delay}}">
                <div class="thumbnail thumb_articulos">
                 <h3>{{articulo.titulo}}</h3>
                 <hr>
                  <img ng-src="{{articulo.imagen}}" alt="...">
                  <div class="caption">
                    <p>{{articulo.descripcion}}</p>
                  </div>
                  <a href="{{articulo.link}}" class="btn btn-pagina btn-lg" role="button">{{articulo.btn}}</a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 wow bounceInUp thumb_articulos" data-wow-duration="1s" data-wow-delay="1s">
                  <h3>Noticias</h3>
                  <hr>
                  <div ng-repeat="noticia in noticias | limitTo:-1">
                    <div class="thumbnail thumb_articulos">
                      <img ng-src="{{noticia.imagen}}" alt="...">
                      <div class="caption">
                        <h3>{{noticia.titulo}}</h3>
                        <p>{{noticia.descripcion}}</p>
                      </div>
                      <a href="{{noticia.link}}" class="btn btn-pagina btn-lg" role="button">{{noticia.btn}}</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="frase-home">
            <div class="container">
                <h1 class="text-center"><em>" Mi idea es colocar una frase para darle color a la pagina "</em></h1>
            </div>
        </section>
        
        <section class="porq" ng-controller="mainCtrl">
          <div class="container contenedor-porq">
            <h2 class="text-center">¿POR QUÉ REHAVITA? o ¿QUE SERVICIOS BRINDAMOS?</h2>
            <hr>
          </div>
        </section>
        <section>
            <div class="container">
                
            </div>
        </section>
