         <!-- SLIFER -->
        <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
          <!-- Overlay -->
          <!--<div class="overlay"></div>-->

          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
          </ol>
          
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item slides active">
              <div class="slide-1"></div>
              <div class="hero">
                <hgroup>
                    <h1>Rehabilitaci&oacute;n</h1>        
                    <!--<h3>Frase de prueba img1</h3>-->
                </hgroup>
              </div>
            </div>
            <div class="item slides">
              <div class="slide-2"></div>
              <div class="hero">        
                <hgroup>
                    <h1>Fisioterapia</h1>        
                    <!--<h3>Arte y Ciencia del tratamiento físico</h3>-->
                </hgroup>       
              </div>
            </div>
            <div class="item slides">
              <div class="slide-3"></div>
              <div class="hero">        
                <hgroup>
                    <h1>Calidad de vida</h1>        
                    <!--<h3>Mejora tu calidad de vida</h3>-->
                </hgroup>
              </div>
            </div>
          </div> 
        </div>
        <section class="frase-home">
            <div class="container text-center">
                <h2>AGENDE SU CONSULTA <span href="#" class="btn-social btn-outline"><i class="glyphicon glyphicon-phone-alt"></i></span> 2403 9392</h2>
                <div class="col-md-1">
                  
                </div>
            </div>
        </section>
        <section class="principal" ng-controller="mainCtrl">
          <div class="container contenido_principal">
            <div class="row">
              <div ng-repeat="articulo in homearticulos" class="{{articulo.class}}" data-wow-duration="{{articulo.anim_duration}}" data-wow-delay="{{articulo.anim_delay}}">
                <div class="thumbnail thumb_articulos">
                 <h3>{{articulo.titulo}}</h3>
                 <hr>
                  <img ng-src="{{articulo.imagen}}" alt="...">
                  <div class="caption">
                    <p>{{articulo.descripcion}}</p>
                  </div>
                  <a href="{{articulo.link}}" class="btn btn-pagina btn-lg" role="button">{{articulo.btn}}</a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 wow zoomIn thumb_articulos" data-wow-duration="0.5s" data-wow-delay="0.6s">
                  <h3>Noticias</h3>
                  <hr>
                  <div ng-repeat="noticia in noticias | limitTo:-1">
                    <div class="thumbnail thumb_articulos">
                      <img ng-src="{{noticia.imagen}}" alt="...">
                      <div class="caption">
                        <h3>{{noticia.titulo}}</h3>
                        <p>{{noticia.descripcion}}</p>
                      </div>
                      <a href="{{noticia.link}}" class="btn btn-pagina btn-lg" role="button">{{noticia.btn}}</a>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </section>
        
        <section class="frase-home">
            <div class="container">
                <h1 class="text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s"><em>Mejoramos tu calidad de vida</em></h1>
            </div>
        </section>
        
        <section class="porq" ng-controller="mainCtrl">
          <div class="container contenedor-porq">
            <h2 class="text-center wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.2s">¿POR QUÉ REHAVITA?</h2>
            <hr>
          </div>
        </section>
        <section class="porq-desc">
            <div class="container contenedor-desc-porq wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">
               <h3>Somos una institución con 5 años de trayectoria en el medio, contamos con buen equipamiento que nos permite cumplir con cualquier indicación que haga el médico, cubrimos horarios amplios de atención, somos puntuales en las aplicaciones, se mantiene un buen relacionamiento respetuoso y personalizado con los pacientes</h3> 
            </div>
        </section>
