<section class="titulo_equipo" data-speed="2" data-type="background">
    <div class="container contenedor-titulo">
    	<div class="titulo">
    		<h1>MEDICINA FISICA</h1>
    	</div>
    </div>
</section>
<section class="frase-mfisica">
    <div class="container">
        <h2 class="text-center">La clínica cuenta con equipamiento completo para el tratamiento de diferentes afecciones.</h2>
    </div>
</section>
<div class="container contenedor_equipamiento" ng-controller="mainCtrl">
    <div class="col-sm-6 col-md-4 col-lg-4 equipos wow zoomIn" data-wow-duration="{{equipo.duracion}}" data-wow-delay="{{equipo.delay}}" ng-repeat="equipo in equipos">
        <div class="thumbnail">
          <h2 class="text-center">{{equipo.titulo}}</h2>
           <hr>
           <div class="contendor-img-thumbnail">
               <img ng-src="{{equipo.img}}" alt="">
               <ul class="text-center" ng-hide="equipo.accesorios.length==0">
                  <li>TRATAMIENTOS</li>
                  <li><hr></li>
                  <li ng-repeat="acces in equipo.accesorios">{{acces.ac}}</li>
                </ul>
           </div> 
           <p>{{equipo.descripcion}}</p>
        </div>
    </div>
</div>
<div ng-controller="mfisicaCtrl">
  <div owl-carousel="items" id="owl">
      <div class="item g1 popup-with-zoom-anim">
          <img class="lazyOwl" ng-src="{{item}}" alt="name">
      </div>
  </div>
</div>