<section class="titulo_equipo" data-speed="2" data-type="background">
    <div class="container contenedor-titulo">
    	<div class="titulo">
    		<h1>MEDICINA FISICA</h1>
    	</div>
    </div>
</section>
<section class="frase-mfisica">
    <div class="container">
        <h2 class="text-center">La clínica cuenta con equipamiento completo para el tratamiento de diferentes afecciones.</h2>
    </div>
</section>
<div class="container contenedor_equipamiento" ng-controller="mainCtrl">
    <div class="col-md-4 equipos" ng-repeat="equipo in equipos">
        <div class="thumbnail">
          <h2 class="text-center">{{equipo.titulo}}</h2>
          <hr>
           <div class="contendor-img-thumbnail border">
               <img ng-src="{{equipo.img}}" alt="">
           </div> 
           <p>{{equipo.descripcion}}</p>
        </div>
    </div>
</div>