<section class="titulo_equipo" data-speed="2" data-type="background">
    <div class="container contenedor-titulo">
    	<div class="titulo">
    		<h1>MEDICINA FISICA</h1>
    	</div>
    </div>
</section>
<div class="container contenedor_equipamiento" ng-controller="mainCtrl">
    <h2>Equipamiento</h2>
    <hr>
    <div class="col-md-4 equipos" ng-repeat="equipo in equipos">
        <div class="thumbnail">
           <div class="contendor-img-thumbnail border">
               <img ng-src="{{equipo.img}}" alt="">
           </div> 
           <h4 class="text-center">{{equipo.titulo}}</h4>
           <p>{{equipo.descripcion}}</p>
        </div>
    </div>
</div>