<section class="titulo_reha" data-speed="2" data-type="background">
    <div class="container contenedor-titulo">
    	<div class="titulo">
    		<h1>REHABILITACIÓN</h1>
    	</div>
    </div>
</section>
<section class="frase-reha">
    <div class="container">
        <h2 class="text-center">Rehabilitamos todo tipo de patologías en fase aguda hasta llegar al mejor resultado funcional posible, y en etapas de secuela para mantener logros obtenidos en aquellos pacientes que así lo requieran.</h2>
    </div>
</section>
<!--<div class="container contenedor_reha" ng-controller="mainCtrl">
    <ul class="nav nav-tabs">
      <li class="active"><a showtab="" href="#reuma" data-toggle="tab">Reumatologica</a></li>
      <li><a showtab="" href="#trauma" data-toggle="tab">Traumatologica</a></li>
    </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="reuma">
            <h2>REUMATOLOGICA</h2>
            <hr>
          </div>
          <div class="tab-pane" id="trauma">
              <h2>TRAUMATOLOGICA</h2>
              <hr>
          </div>
    </div>
</div>-->

<section class="" data-speed="12" data-type="background">
  <div class="container info-somos">
      <div class="contenedor_reha" ng-controller="mainCtrl">
        <div class="row">
          <div class="col-md-4">
            <div class="contenedor-trat">
              <div class="text-center titulo-trat-reha">
                  <h2>REUMATOLÓGICA</h2>             
              </div>
              <ul>
                  <li><i class="glyphicon glyphicon-ok-circle"></i><span>Patología degenerativa (artrosis, canal estrechó)</span></li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i><span>Patología inflamatoria del aparato locomotor (artritis Reumatoidea, espondiloartritis, esclerosis, etc.)</span></li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Patología de partes blandas (tendinitis, bursitis, entesitis, tener points, etc) </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Alteraciones posturales del niño, el adolescente y el adulto </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Fibromialgia </li>
              </ul>         
            </div> 
          </div>
          <div class="col-md-4">
            <div class="contenedor-trat">
              <div class="text-center titulo-trat-reha">
                  <h2>TRAUMATOLÓGICA</h2>
              </div>           
              <ul>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Fracturas </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Esguinces</li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Luxaciones </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Traumatismos, síndromes meniscales, lesiones de ligamentos </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Hernias discales </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Amputados </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Pre y postoperatorio de artroplastias </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Politraumatizados </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contenedor-trat block-center">
              <div class="text-center titulo-trat-reha">
                  <h2>NEUROLOGICA</h2>
              </div>        
              <ul>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>ACV </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Esclerosis múltiple</li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>ELA </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Polineuritis y poliradiculoneuritis</li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Lesiones de nervios periféricos </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Mielitis </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Mielopatias </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Lesionados medulares </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Patología neurologica cronica </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Parkinson </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Ataxias </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Síndrome vestíbular </li>
                  <li><i class="glyphicon glyphicon-ok-circle"></i>Encéfalopatias, sedentarismo en el adulto mayor </li>
              </ul>
            </div>
          </div>
        </div>

          <!--<div class="board2">
                    
              <div class="board-inner2">
                  <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                    <li class="active wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
                      <a href="#home" showtab="" data-toggle="tab" title="REUMATOLOGICA">
                        <span class="cubic-tabs one">
                          REUMATOLOGICA
                        </span> 
                      </a>
                    </li>

                    <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.4s">
                      <a href="#profile" showtab="" data-toggle="tab" title="TRAUMATOLOGICA">
                       <span class="cubic-tabs two">
                          TRAUMATOLOGICA
                       </span> 
                      </a>
                    </li>               
                  </ul>
              </div>

              <div class="tab-content wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.5s">
                  <div class="tab-pane fade in active" id="home">
                    <h3 class="head text-center">REUMATOLOGICA</h3>
                    <div class="spacer"></div>
                   
                  </div>
                  <div class="tab-pane fade" id="profile">
                      <h3 class="head text-center">TRAUMATOLOGICA</h3>
                      <div class="spacer"></div>
                      
                  </div>
                  <div class="clearfix"></div>
              </div>

          </div>-->

      </div>

  </div>



</section>

<script type="text/javascript">

  $(function(){
    $("a[title]").tooltip();
  });


</script>