<section class="titulo_reha" data-speed="2" data-type="background">
    <div class="container contenedor-titulo">
    	<div class="titulo">
    		<h1>REHABILITACIÓN</h1>
    	</div>
    </div>
</section>
<section class="frase-reha">
    <div class="container">
        <h2 class="text-center"><em>Rehabilitación de toda enfermedad que cause discapacidad, en etapas precoces y a largo plazo para mantener los logros obtenidos. Con evaluación por médico Fisiatra de la clínica o cumpliendo indicaciones de médico Fisiatra tratante.</em></h2>
    </div>
</section>
<div class="container contenedor_reha" ng-controller="mainCtrl">
    <ul class="nav nav-tabs">
      <li class="active"><a showtab="" href="#reuma" data-toggle="tab">Reumatologica</a></li>
      <li><a showtab="" href="#trauma" data-toggle="tab">Traumatologica</a></li>
    </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="reuma">
            <h2>REUMATOLOGICA</h2>
            <hr>
          </div>
          <div class="tab-pane" id="trauma">
              <h2>TRAUMATOLOGICA</h2>
              <hr>
          </div>
    </div>
</div>